body {
	background-color: black;
}

table {
	color: white;
	margin: auto;
	font-family: "Trebuchet MS", sans-serif;
}

.bar {
	color: white;
	border: 5px solid black;
	border-collapse: collapse;
	margin: auto;
	font-family: LcdSolid;
}

.ulink {
	text-decoration: none;
}

hr {
	width: 95%;	
}

h1, h2, h3 {
	text-align: center;
	color: white;
	font-family: Consolas;
}

@font-face {
   font-family: LcdSolid;
   src: url(arquivos/LcdSolid.ttf);
}

p    {
	text-align: center;
	color: white;
	font-family: Verdana;
}

img {
	display: block;
	margin: auto;
}

.noselect {
	-webkit-user-select: none;
	user-select: none;"
}

.otherTest {
	display:inline-block;
	vertical-align:text-top
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: gray;
}

a:active {
	color: lightgray;
}